#buttons li
{
	/*display: inline;
	list-style-type: none;
	padding-right: 40px;*/
}


.menuBar li
{
	display: inline;
	list-style-type: none;
	
	font-weight: 300;
	cursor: pointer;
	margin: 0px;
}

#topBar li{
	/*padding-right: 40px;*/
}

#filter li{
	padding-right: 20px;
	color: #666;
}

#filters{
	/*padding-left: 20px;*/
}
.filter {
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;

	font-weight: 200;
	color: #666;
	border-bottom: none;
	
}


.highlight{
	border-bottom: 1px dotted;
}

#name{
	font-size: 2.1em;
  font-weight: 1000;
  margin: 0;
  
}

/* media queries */

@media (min-width: 1600px) {
  body { font-size: 14px; }
}

@media (max-width: 900px) {
  body { font-size: 14px; }
}

@media (max-width: 690px) {
  /*.content-wrap {
    width: 100%;
    padding: 0 1em;
  }
  .header {
    margin: 1em 0;
  }
  .header h1 {
    font-size: 1.4em;
    margin-bottom: 0.6em;
  }
  .header .description {
    font-size: 1em;
  }
  .article {
    margin: 1em 0 2.5em;
  }
  .archive {
    width: 80%;
    margin: 0 auto;
  }
  .archive * {
    float: none !important;
    line-height: 1.6 !important;
    width: auto !important;
    height: auto !important;
    text-align: left !important;
    border: 0 !important;
    margin: 0 !important;
  }

  .content-wrap {
 width: 45em;
 background-color: #f00;
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 0%;
}
	.article{

	}
  footer .nav {
    margin: 1em 0;
  }
  footer .about {
    padding: 0;
    font-size: 0.9em;
    padding-top: 1.6em;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    column-count: 1;
  }
  footer .about p {
    margin-bottom: 1em;
  }*/
}
