/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";
:root {
--color-visited-link: #ee0437;
--color-link:  #ee0437;
// --body-background: rgb(247, 244, 62);
}

@font-face {
    font-family: 'terminal_grotesque';
    src: url('fonts/terminal-grotesque-webfont.eot');
    src: url('fonts/terminal-grotesque-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/terminal-grotesque-webfont.woff2') format('woff2'),
         url('fonts/terminal-grotesque-webfont.woff') format('woff'),
         url('fonts/terminal-grotesque-webfont.ttf') format('truetype'),
         url('fonts/terminal-grotesque-webfont.svg#terminal_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face{font-family:'dec terminal modern';font-style:normal;font-weight:400;src:local('DEC Terminal Modern'),url(https://fonts.cdnfonts.com/s/76202/_decterm.woff) format('woff')}

@font-face {
    font-family: 'IBM-Plex-Mono';
    src:url('IBM-Plex-Mono.ttf.woff') format('woff'),
        url('IBM-Plex-Mono.ttf.svg#IBM-Plex-Mono') format('svg'),
        url('IBM-Plex-Mono.ttf.eot'),
        url('IBM-Plex-Mono.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'karma_future';
    src: url('fonts/karma_future-webfont.woff2') format('woff2'),
         url('fonts/karma_future-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blockstepped';
    src: url('fonts/blockstepped-webfont.woff2') format('woff2'),
         url('fonts/blockstepped-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    // font-size: 16px;
}

body {
    // font-family: 'Helvetiva Neue', sans-serif;
    //  font-family: 'terminal_grotesque', sans-serif;
    // font-family: 'blockstepped', sans-serif;
    // font-family: 'karma_future', sans-serif;
     font-family: 'IBM-Plex-Mono', monospace;
    // font-family: 'dec terminal modern';

    font-weight: 400;
    // line-height: 1.33rem;
     font-size: 0.9rem;
    line-height: 1rem;
}

.landing-text {
    font-size: 4vh;
}

img {
    filter: drop-shadow(0 0 2mm rgb(210, 0, 81));
}



.markdown h1, .markdown h2 {
    // filter: drop-shadow(0 0 1mm rgb(210, 0, 81));

    // font-family: 'Helvetiva Neue', sans-serif;
    font-family: 'dec terminal modern';
    // text-transform: uppercase;
    // font-family: 'terminal_grotesque', sans-serif;
    // font-family: 'blockstepped', sans-serif;
    font-weight: bold;
    // font-size: 2.4rem;
    margin-bottom: 0rem;
}

a:hover, .markdown a:hover {
    text-decoration: line-through;
}

// h1 {font-size: 4rem; }

.book-toc {
    // font-size: 0.8rem;
}

#book-search-input {
    // background-color: white;
    background: none;
    border: solid 2px var(--color-link);
    color: var(--color-link);
    border-radius: 25px;
    margin-top: 1rem;
    filter: drop-shadow(0 0 4mm rgb(160, 0, 210));
}

.menu-tags {
    // font-size: 0.8rem;
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--color-link);
}

.menu-tags>a {
     border: solid 2px var(--color-link);
     margin: 0.1em;
     padding: 0.4em;
    border-radius: 25px;
    // filter: drop-shadow(0 0 0.2rem rgb(160, 0, 210));
    line-height: 0.8;
    // text-decoration: underline;
    transition: all 0.5s; 
    position: relative;
    display: inline-block;
    // text-decoration:underline;
}

.menu-tags>a:hover {
    background-color: var(--color-link);
    color: white;
    text-decoration: line-through;
    filter: drop-shadow(0 0 4mm rgb(160, 0, 210));
    // transform: scale(1.1);
}

.menu-tags>a.active {
    background-color: var(--color-link);
    color: white;
    // text-decoration: line-through;
    filter: drop-shadow(0 0 4mm rgb(160, 0, 210));
}

.book-menu a{
    color: var(--color-link);
}

.markdown {
    //  line-height: 1rem;
}

.markdown h4, .markdown h5, .markdown h6 {
    // font-weight: bolder;
    margin-bottom: 0.0rem;
    font-weight:normal;
}

aside nav ul li {
    margin: 0.3em 0em;
}

.container {
    max-width: 90rem;
}

.list-holder {
    display: grid;
    // grid-template-rows: masonry;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    // grid-auto-rows: min-content;
    grid-auto-rows: min-content(1em);
    grid-gap: 20px;
}

.post-preview {
    display: flex; 
    flex-direction:row; 
    justify-content: left; 
    padding: 0.8rem; 
    align-items: center;
    // max-width: 50rem;
}

.post-preview-container {
    // width: 100%;
    display: flex;
    border-radius: 25px;
    // border: solid 2px var(--color-link);
    height: fit-content;
}

.post-preview-container:hover {
//    border: solid 2px var(--color-link);
}


@media (min-width: 80rem) {
    .post-preview-container {
    //   width: 50%;
    }
  }
  

.book-brand {
    // filter: drop-shadow(0 0 0.2rem rgb(207, 210, 0));
    font-size: 3.6rem;
    line-height: 3rem;
    text-transform: lowercase;
    font-weight: 300;
    color:var(--color-link);
    // text-transform: uppercase;
    // text-align: right;
    font-family: 'karma_future', sans-serif;
// font-family: 'blockstepped', sans-serif;
}

.year {
    font-size: 1rem;
    color:var(--color-link);

}

// h1 {    
//      font-family: 'karma_future', sans-serif;
// }

.book-menu a {
    // width: 100%;
    // font-size: 1.3rem;
    // line-height: 0.8;
}

// .book-menu a.active {
//     color: #ef0981;
//     font-size: 1.3rem;
// }

// .markdown a:visited {
//     color: #ef0981;
// }

// a {
//     color:  #ef0981;
// }