{{ define "main" }}
<main aria-role="main">
    <!-- <header class="homepage-header">
        <h1>{{ .Title }}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{ . }}</span>
        {{ end }}
    </header>
    <div class="homepage-content">
        {{ .Content }}
    </div> -->
        <div class="list-holder">
            {{ $work := (where .Site.RegularPages "Section" "work") }}
            {{ $paginator := .Paginate $work }}
            {{ range $paginator.Pages }}
            <div style="padding:0.0rem" class="post-preview-container" >
                {{ partial "docs/post-preview" . }}
            </div>
            {{ end }}
        </div>
        {{ template "_internal/pagination.html" . }}
</main>
{{ end }}