{{ define "main" }}
<div class="list-holder" style="display:flex;flex-wrap:wrap;">
  {{ range sort .Paginator.Pages }}

    <div style="padding:0.0rem" >
      {{ partial "docs/post-preview" . }}

      <!-- <h2><a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a></h2>
      {{ with .Date }}
      <span class="">[{{ .Format "2006" }}]</span>
      {{ end }}
     -->
      <!-- <p>
      {{- .Summary -}}
    </p> -->
      <!-- <p>
      {{- .Summary -}}
      {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">...</a>
      {{ end }}
    </p> -->
    </div>
  <!-- </a> -->

    <!-- {{ with .Date }}
  <span class="">[{{ .Format "2006" }}]</span>
{{ end }} -->

    <!-- {{ with $terms := $.GetTerms "Tags" }}
  {{ range $n, $term := $terms }}{{ if $n }}, {{ end }}
  <a href="{{ $term.RelPermalink }}">{{ $term.Title }}</a>
  {{- end }}
{{ end }} -->
   
  </article>
  {{ end }}

</div>

{{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc" }}
{{ partial "docs/taxonomy" . }}
{{ end }}